@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Poppins';
}

/* A "caixa" principal da barra de rolagem */
::-webkit-scrollbar {
  width: 15px; /* Largura da barra de rolagem vertical */
  height: 8px; /* Altura da barra de rolagem horizontal */
}

/* O "caminho" ou trilha por onde a barra desliza */
::-webkit-scrollbar-track {
  background: #171717; /* Cor de fundo da trilha, um cinza bem escuro */
}

/* O "polegar" ou a alça que você arrasta */
::-webkit-scrollbar-thumb {
  background-color: #c429c6; 
  border-radius: 2px; 
}

/* Efeito quando você passa o mouse por cima da alça */
::-webkit-scrollbar-thumb:hover {
  background-color: #f72585; 
}

